@import "tailwindcss";

html, body, #root {
  height: 100%;
}

/* Fix for browser autofill styles over dark inputs */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
  -webkit-text-fill-color: white !important;
  transition: background-color 5000s ease-in-out 0s;
}